.navbar-container {
  /* background-color: rgba(60, 113, 160, 0.658); */
  margin-top: 0px;
}



.appname-icon-container {
  display: flex;
  align-items: center;
  text-shadow: 2px 2px 5px rgb(7, 7, 7);
  color: white;
}

.appname-icon-container img {
  margin-left: 15px;
  margin-top: 5px;
}

ul {
  margin-top: 0px;
}